.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://www.shutterstock.com/image-vector/beauty-clinic-brand-logo-260nw-1190465590.jpg');
    background-size: cover;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  .background {
    animation: animatedBackground 10s linear infinite;
  }

#chat-container {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

#user-message {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#send-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #45a049;
}

li a {
    text-decoration: none;
    color: #333;
}

li a:hover {
    text-decoration: underline;
}

.centered-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

