.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://lh3.googleusercontent.com/pw/AP1GczMwxpNlOrhjtzCfkyGFQsHw2yQsJ0qaMzLb_QtetuRnb3y902QD94ibl51MBGMBuaug5ddnfmypMCYly2VW-xdHQBLzNY8m7HmT8Py6NpaVNyeVTkWd2xcuH5ATcoP7EQjwAW8ygun8gx6arhE7F_XnXDrrTH-Vorgt6Wof-DwMtSDB9HsKFizZGXLMQvwVJtz-8YwHCW7zZuxvGSftAvVP4uTKF-lDvuncrQnU839M9Y0cGwDJ8iF0REntUxqf0PtxYfsgfZ6A0aoz_qvsVfTTCMIwjem9lvqR1RFhqACW7qzSk9E5htSdT-ny3xYT2dMAHz2j_qx4wk8YgwUOjLRhrjw5g7iFfSDlMHgu39f8ZC-B3tL0FtT9O6ab9oVoyfveQFxJg5hI3kJ0-LUo4kNwHKNc6kJGXsbGRATtN-sgYiBbnNr1J3dqEbylDMFuej9yF0ljfQ0BPnxWi9QF2Syjqfh3AWex2cP6pEbKZQwPYgPHO422NdBcKLdbDvHzEdJ5vRMyn6z7-27fG1e_tZwZBElFFaBiwn2LlhwWqwrykgz55kERsjqHD34ZkBrghuWk6f1vON9Gvc8qjw_JQHdKeAu2aVoZLuSirE_ky5pfl82OVJfUerDcRjc5Jv5byE86QD5ThZaHO8LusjiXin4fHYMFXFiaAdxTCHzVMGja9ay3ogRJypyJCa9Ra9QSQtq40U6xW4hudYTMIW4zEPGCxzpMcn_KxIVTae5h4XFTA0MgNGmxvLIv7ubNHwjLGPn0P9FQ_rCWq4gFqVpyYx8OOaxV4bpezgt91XhjuQhB-NIirkFEfzKtIEhAMIXQW8KIaDDD6xerRqd8sFlB44xbOEKtYhn9WdX8T9h07An859GUYWwkouDYKBnTM8NHK7WVf3qTfRR17NzeHme7UmELXw=w526-h423-s-no-gm?authuser=0');
    background-size: cover;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  .background {
    animation: animatedBackground 10s linear infinite;
  }

#chat-container {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

#user-message {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#send-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #45a049;
}

li a {
    text-decoration: none;
    color: #333;
}

li a:hover {
    text-decoration: underline;
}

.centered-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

