.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-collage-dibujado-mano_23-2149576731.jpg');
  background-size: cover;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.background {
  animation: animatedBackground 10s linear infinite;
}

#catalog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .product-container {
      text-align: center;
      margin-bottom: 20px;
      border: 3px solid black; 
      border-radius: 8px;
    
}
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
  }

  h1 {
    color: white;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: white;
  animation: fadeInDown 0.5s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos-container {
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid black; 
  border-radius: 8px;
}

.productos-container img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px;
}

.productos-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.productos-container p {
  font-size: 14px;
  margin-bottom: 10px;
}

.productos-container button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.productos-container button:hover {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.container h1 {
  color: black;
  text-align: center;
}
